altair
annotated-types
asgiref
attrs
beautifulsoup4
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
cycler
cymem
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt
dlib
docopt
dotenv
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
ensemble
filelock
Flask
fonttools
fsspec
generativeai
gitdb
GitPython
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
huggingface-hub
idna
imutils
iniconfig
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
language_data
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
murmurhash
narwhals
networkx
nltk
numpy
opencv-python
packaging
pandas
pdfminer.six
pdfplumber
pillow
plotly
pluggy
preshed
proto-plus
protobuf
psycopg2-binary
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pygame
Pygments
PyJWT
pyparsing
pypdfium2
PyPrind
pysut
pytest
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stats_arrays
streamlit
streamlit-option-menu
sympy
tenacity
thinc
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
wasabi
watchdog
weasel
Werkzeug
whitenoise
wrapt
xgboost
